---
import Card from "@/composables/Card.astro";

const services = [
  {
    category: "Marketing Websites",
    title: "Web Design & Development",
    description:
      "Expert web development services delivering high-performance, SEO-optimized websites with responsive design and accessibility standards. We create stunning, user-friendly digital experiences that ensure your business stands out online while reaching the widest possible audience across all devices.",
    img: "/web-solutions.svg",
    link: "/marketing-websites",
  },
  {
    category: "Web Applications",
    title: "Custom SaaS Development",
    description:
      "Specialized in building scalable web applications and SaaS solutions that drive business growth. From enterprise software to commercial platforms, we transform your ideas into powerful, market-ready applications with robust features, secure architecture, and seamless user experience.",
    img: "/digital-marketing.svg",
    link: "/web-applications",
  },
];
---

<section
  class='bg-background text-foreground py-4 sm:py-8 md:py-16 lg:py-24'
  data-aos='fade-up'
>
  <div class='max-w-7xl mx-auto px-4 sm:px-6 lg:px-8 text-center'>
    <h2
      class='text-xl sm:text-2xl md:text-3xl font-extrabold mb-4 sm:mb-8 md:mb-16'
    >
      Our Best Services
    </h2>
    <div
      class='grid grid-cols-1 sm:grid-cols-2 gap-4 sm:gap-6 md:gap-8 justify-items-center'
    >
      {
        services.map((service) => (
          <Card
            category={service.category}
            title={service.title}
            description={service.description}
            img={service.img}
            link={service.link}
          />
        ))
      }
    </div>
    <a
      href='/all-services'
      class='inline-flex items-center bg-black hover:bg-white hover:text-black text-white px-3 sm:px-4 md:px-6 py-2 mt-8 sm:mt-12 md:mt-16 lg:mt-24 mx-auto transition-colors duration-300 ease-in-out hover:shadow-lg text-xs sm:text-sm md:text-base'
    >
      All Services
      <svg
        xmlns='http://www.w3.org/2000/svg'
        class='h-3 w-3 sm:h-4 sm:w-4 md:h-5 md:w-5 ml-2'
        viewBox='0 0 20 20'
        fill='none'
        stroke='currentColor'
        stroke-width='1'
      >
        <path d='M5 10h10' stroke-linecap='round' stroke-linejoin='round'
        ></path>
      </svg>
    </a>
  </div>
</section>
